@page
@model WeatherAppWeb.Pages.AboutModel
@{
}
<body style="font-size-adjust:initial;background-color:aliceblue">
        <hr />
        <p>
            WEB утилита показывает прогноз погоды на 5 дней используя данные погодного сервиса <mark style="font-style:initial">Accuweather.com</mark>.<br />
            Утилита написана на языке программирования C#. Для сборки и запуска проекта вам нужно будет установить <mark>.Net 6+ SDK</mark>.<br/>
            Ссылка на сборки .Net SDK для всех акуальных платформ располагается тут: <a href="https://dotnet.microsoft.com/download/dotnet/">https://dotnet.microsoft.com/download/dotnet/</a><br/>
            Для того, что бы получать свежие погодные данные вам нужно будет получить API key. <br/>
            Для этого вам необходимо зарегестрироваться на сайте: <a href="https://developer.accuweather.com" target="_blank">https://developer.accuweather.com/</a>

        </p>
        <hr />
</body>
