@page
@model WeatherAppWeb.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<style>
    body{
    background-image: url("images/background.jpg");    
    background-blend-mode:overlay;
    background-size:100%;
    }
</style>
<body style="font-size-adjust:initial;background-color:aliceblue">
        <hr style="border:solid"/>
            <p>
                The WEB application shows the weather forecast for 5 days, it uses a forecast service data from - <mark style="font-style:initial">Accuweather.com</mark>.<br />
                The application created on a C# language. For the build and start you should install -  <mark>.NET 6+ SDK</mark>.<br/>
                Link for the actual builds .NET SDK here: <a href="https://dotnet.microsoft.com/download/dotnet/">https://dotnet.microsoft.com/download/dotnet/</a><br/>
                For use the application you should get an API key! <br/>
                There is a registration link for to get the API key:  <a href="https://developer.accuweather.com" target="_blank">https://developer.accuweather.com/</a>

            </p>
        <hr />
            <p>
                WEB утилита показывает прогноз погоды на 5 дней используя данные погодного сервиса <mark style="font-style:initial">Accuweather.com</mark>.<br />
                Утилита написана на языке программирования C#. Для сборки и запуска проекта вам нужно будет установить <mark>.NET 6+ SDK</mark>.<br/>
                Ссылка на сборки .NET SDK для всех акуальных платформ располагается тут: <a href="https://dotnet.microsoft.com/download/dotnet/">https://dotnet.microsoft.com/download/dotnet/</a><br/>
                Для того, что бы получать свежие погодные данные вам нужно будет получить API key. <br/>
                Для этого вам необходимо зарегестрироваться на сайте: <a href="https://developer.accuweather.com" target="_blank">https://developer.accuweather.com/</a>

            </p>
        <hr style="border:solid"/>
</body>
