@page
@model WeatherAppWeb.Pages.ApiKeyInsertModel
@{
    ViewData["Title"] = "API key page";
}
<h2>Enter your API key</h2>

<form method="post" >
    
    <div class="form-group">
        <input type="text" size="40" style="-ms-overflow-style" name="apiKey" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
