@page
@model WeatherAppWeb.Pages.ApiKeyInsertModel
@{
    ViewData["Title"] = "API key page";
}
<h3>Enter your API key</h3>
<body style="background-color:aliceblue">
    <form method="post" >
    
        <div class="form-group">
            <input type="text" size="40" style="-ms-overflow-style:auto" name="apiKey" />    
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>
