@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body style="background-color:lightskyblue">
    <h2>Enter the city to see the weather</h2>

    <form method="post">
    
        <div class="form-group">
            <input type="text" style="border-block-color:ActiveBorder" name="cityName"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
           
    <h3>Weather:</h3>
        <form method="post">
           <ul>
            @{
                if(!(Model.Weather.Count() < 5))
                {
                    int i = 0;
                    var dateTimeToday = DateTime.Today;
                   
                    @foreach (var item in Model.Weather)
                    { 
                          <p><h5>@dateTimeToday.AddDays(i).Date.ToShortDateString()</h5><li>@item</li></p>                   
                        i++;   
                    }
             
                }
                else
                {
                    foreach(var item in Model.Weather)
                    {
                        <dd>@item</dd>
                    }
                }
           }
        
           </ul>
        </form>
    </body>


