@page
@model WeatherAppWeb.Pages.IndexModel
@{
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    #main-heading {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        margin-top: 50px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    label {
        font-size: 20px;
        margin-right: 10px;
    }

    input[type="radio"] {
        margin-right: 5px;
    }

    input[type="text"] {
        padding: 10px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        width: 300px;
        font-size: 20px;
    }

    button[type="submit"] {
        padding: 10px;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 20px;
        transition: all 0.3s ease;
    }

    button[type="submit"]:hover {
        background-color: #3e8e41;
    }
</style>
<h1 id="main-heading">Weather Forecast</h1>
<form method="post">
    <div>
        <label>
            <input type="radio" name="forecastType" value="Day" checked/>
            Day
        </label>
        <label>
            <input type="radio" name="forecastType" value="Hour" />
            Hour
        </label>
    </div>
<div style="margin-top: 30px;">
    <label>
        Location:
        <input type="text" name="cityName" placeholder="Enter city name" required />
    </label>
</div>

<div style="margin-top: 30px;">
    <button type="submit">Get Forecast</button>
</div>
</form> 