@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Cities</h1>
<dl class="dl-horizontal">
        @foreach (var item in Model.Cities)
        {
            <dd>@item</dd>
        }
</dl>

